absl-py==0.7.1
astor==0.7.1
crowdai_api
cycler
dill
enum34
future
gast==0.2.2
gin-config
grpcio
h5py
imageio
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mock
numba
numpy
pandas
Pillow
protobuf==3.8.0
pyparsing
python-dateutil
pytz
scikit-learn
scipy==1.4.1
simplejson
six
tensorboard==2.1.0
tensorflow-estimator
tensorflow-hub
tensorflow-probability==0.9.0
termcolor
Werkzeug
